exportPattern("^[[:alpha:]]+")
importFrom("deSolve", "lsoda")
importFrom("utils", "head", "tail")
importFrom("graphics", "abline", "box", "grid", "legend", "lines", "mtext", "par",
        "plot", "plot.new", "text")
S3method(plot, strike)
